<div class="container-tab-title">
    <h2>Liste des utilisateurs</h2>
    <label>Retrouver la liste de tous les utilisateurs inscrit sur <strong>Angular Social</strong>. Visiter leur profil et découvre leurs derniers articles.</label>
</div>
<div class="container-tab-users">
    <div class="mat-elevation-z8 table-user">
        <table mat-table [dataSource]="dataSource">
    
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element" (click)="locationCard(element.id)"> {{element.id}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="pseudo">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element" (click)="locationCard(element.id)"> {{element.pseudo}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element" (click)="locationCard(element.id)"> {{element.email}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[10]"
                        showFirstLastButtons 
                        aria-label="Liste des utilisateurs">
        </mat-paginator>
    </div>
</div>

