
<div id="container">
    <div class="connection-form">
        <div class="img-container">
            <img width="90" height="90" id="ico-angular" src="../../assets/img/ico-angular.png" alt="Angular">
        </div>
        <input [(ngModel)]="mail" class="connection-input" placeholder="Email" type="email">
        <input [(ngModel)]="pseudo" class="connection-input" placeholder="Pseudo" type="text">
        <input [(ngModel)]="pass" class="connection-input" placeholder="Mot de passe" type="password">
        <input [(ngModel)]="comfirmPass" class="connection-input" placeholder="Confirmer le mot de passe" type="password">
        <input (click)="creatUser()" id="send" type="submit" value="Inscription">

        <span>{{ error }}</span>
    </div>
</div>
